@keyframes arrow {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(4px);
  }
}
  
@keyframes enlarge {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}
  
@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon.is-liked .heart {
  animation: enlarge 0.3s 0.1s alternate ease-in;
  transform-origin: center;
}
  
.like-icon.is-liked .sparks {
  animation: fade 0.3s 0.3s alternate ease-in;
}